* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-profile {
  position: relative;
  left: 50%;
  margin-left: -225px;
  margin-top: 200px;
  padding: 30px 60px;
  width: 450px;
  height: 500px;
  background-color: #c5c5c5;
  color: #4b4d4f;
}

.form-title {
  padding: 20px 0;
}

.input {
  margin: 10px 0;
  width: 330px;
  height: 50px;
}

.input-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
