* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-profile {
  position: relative;
  left: 50%;
  margin-left: -225px;
  margin-top: 60px;
  padding: 30px 60px;
  width: 450px;
  height: 740px;
  background-color: #c5c5c5;
  color: #4b4d4f;
}

.form-title {
  padding: 20px 0;
}

.input {
  margin: 10px 0;
  padding: 20px 15px;
  width: 330px;
  height: 50px;
  font-size: 14px;
}

.input-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.description-input {
  height: 150px;
  padding-left: 17px;
}

.gender-input {
  text-indent: 10px;
}

.check-terms {
  display: block;
  margin: 10px 0;
}

.terms {
  padding-left: 10px;
}

.submit-button {
  position: relative;
  top: 35px;
  left: 21.2%;
  width: 200px;
  height: 60px;
  background-color: #00a7e6;
  color: white;
  font-size: 18px;
}