* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-profile {
  position: relative;
  left: 50%;
  margin-left: -250px;
  margin-top: 200px;
  padding: 30px 50px;
  width: 500px;
  height: 500px;
  background-color: #c5c5c5;
}